<div th:fragment="form">

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div th:if="${param.error}" class="card-panel red lighten-4 red-text text-darken-4">
                Invalid username or password.
            </div>
            <div th:if="${param.logout}" class="card-panel green lighten-4 green-text text-darken-4">
                You have been logged out.
            </div>
        </div>
    </div>

    <form class="row container my-6 " method="post" th:action="@{/login}">
        
        <div class="s12 m12 input-field">
            <i class="material-icons prefix">badge</i>
            <input type="text" class="validate" id="username" name="username">
            <label for="username">Username</label>


        </div>
        <div class="s12 m12 input-field">
            <i class="material-icons prefix">key</i>
            <input type="password" class="validate" id="password" name="password">
            <label for="password">Password</label>


        </div>
        <div class="row s12 mt-4">
            <button type="submit" value="Adicionar" class="btn filled s12 m6 icon-right">
                Logar
                <i class="material-icons">send</i>
            </button>

            <a class="btn filled  center-align s12 m6 icon-right " th:href="@{/login}"><i
                    class="material-icons">delete</i>Limpar</a>
        </div>
    </form>

</div>