<div th:fragments="form">

    <form class="row container my-4" method="post" th:action="@{/produtos/novo}" th:object="${produtoDTOCreate}">
        
        <div class="s12 m12 input-field">
            <i class="material-icons prefix">badge</i>
            <input id="nome" type="text" class="validate" placeholder="nome do produto" th:field="*{nome}">
            <label for="email">Nome</label>

        </div>
        <div class="s12 m12 input-field">
            <i class="material-icons prefix">attach_money</i>
            <input id="preco" type="number" step="0.01" class="validate" placeholder=" 0.99" th:field="*{preco}">
            <label for="preco">Preço</label>
        </div>
        
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea" th:field="*{descricao}"></textarea>
            <label for="icon_prefix2">Descrição</label>
        </div>

        <div class="s12 m12 input-field">
            <span class="material-icons prefix">add_link</span>
            <input id="urlImagem" type="text"  class="validate" th:field="*{urlImagem}">
            <label for="urlImagem">URL da imagem</label>
        </div>

        <div class="row s12 mt-4">
            <input type="submit" value="Adicionar" class="btn s12 m6">
            <input type="reset" class="btn s12 m6">
        </div>
    </form>

</div>